:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
}

input {
  padding: 6px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input:hover {
  border-color: #8383ff;
}

input:focus {
  outline: none;
  border-color: #8383ff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

form {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 12px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  line-height: 1.1;
  font-size: 54px;

  @media (min-width: 1440px) {
    font-size: 74px;
  }
}

button {
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}
